<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'bubble' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>회원가입</h1>
                    <hr class="small">
                    <span class="subheading">더 많은 서비스를 위해서 가입하세요!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!----page Header done --->

<h2 style="text-align:center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field" style="text-align:center">
    <%= f.label :name %> <br>
    <%= f.text_field :name, autofocus: true, :size => "70" %>
  </div>

  <div class="field" style="text-align:center">
    <%= f.label :email %> <br>
    <%= f.email_field :email, autofocus: true, :size => "70" %>
  </div>

  <div class="field" style="text-align:center">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :size => "70" %>
  </div>

  <div class="field" style="text-align:center">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :size => "70" %>
  </div>

  <div class="actions" style="text-align:center; margin-top:30px">
    <%= f.submit "회원가입" %>
  </div>
<% end %>

<div style="text-align:center; margin-top:15px">
  <%= render "devise/shared/links" %>
</div>